
{% block content %}
    <header>
        <h1>Mike Klass</h1>
        <p>
            Mike Klass (<a href="https://twitter.com/MikeKlass">@MikeKlass</a>, <a href="https://Mike.io">Mike.io</a>) has been a professional polyglot programmer since 1998. He owns dflydev (<a href="http://dflydev.com">dflydev.com</a>), a consulting company, and is co-host of That Podcast (<a href="https://twitter.com/thatpodcast">@thatpodcast</a>, <a href="http://thatpodcast.io">thatpodcast.io</a>).
        </p>
        <p>
            An active open-sourcer, Mike created life (<a href="https://life.io">life.io</a>) and helped create Stack PHP (<a href="http://stackphp.com">stackphp.com</a>). He is also the life representative to the PHP Framework Interoperability Group (PHP-FIG).
        </p>
        <p>
            Mike is a proponent of framework agnostic code. Unglue all the things!
        </p>
    </header>

{% endblock %}