
{% block content %}
    <header>
        <h1>Nikki Stevens</h1>
        <p>
            Nikki Stevens (<a href="https://twitter.com/NikkiStevens">@NikkiStevens</a>, <a href="https://Nikki.io">Nikki.io</a>) has been a professional polyglot programmer since 1998. She owns dflydev (<a href="http://dflydev.com">dflydev.com</a>), a consulting company, and is co-host of That Podcast (<a href="https://twitter.com/thatpodcast">@thatpodcast</a>, <a href="http://thatpodcast.io">thatpodcast.io</a>).
        </p>
        <p>
            An active open-sourcer, Nikki created life (<a href="https://life.io">life.io</a>) and helped create Stack PHP (<a href="http://stackphp.com">stackphp.com</a>). She is also the life representative to the PHP Framework Interoperability Group (PHP-FIG).
        </p>
        <p>
            Nikki is a proponent of framework agnostic code. Unglue all the things!
        </p>
    </header>

{% endblock %}