  <img class="bio-pic" src="/images/bio-pics/jason-savino.png">
  <h1>Jason Savino</h1>
  <ul class="social-media">
    <li><a href="https://www.linkedin.com/in/jasonrsavino"><img src="/images/social-media/linkedin.png"></a></li>
    <li><a href="https://twitter.com/jasonrsavino"><img src="/images/social-media/twitter.png"></a></li>
    <li><a href="https://instagram.com/callmesavino"><img src="/images/social-media/instagram.png"></a></li>
    <li><a href="https://github.com/jasonrsavino"><img src="/images/social-media/github.png"></a></li>
  </ul>
<p>
Jason is an experienced software engineer originally from Detroit, MI and now living in San Diego. He's been working with Drupal for 10 years, and has worked on projects for NBC, DivX, Qualcomm and NASA.
An active member of the Drupal community, Jason has attended over 70 Drupalcons and camps in the US and internationally. He regularly contributes code to open source projects.
When he's not coding, Jason is surfing, playing with his cats, and thinking about learning to play the guitar.
</p>

<br>

<h1>Posts written by Jason</h1>