  <img class="bio-pic" src="/images/bio-pics/mike-klass.png">
  <h1>Mike Klass</h1>
  <ul class="social-media">
    <li><a href="#"><img src="/images/social-media/linkedin.png"></a></li>
    <li><a href="#"><img src="/images/social-media/twitter.png"></a></li>
    <li><a href="#"><img src="/images/social-media/instagram.png"></a></li>
    <li><a href="#"><img src="/images/social-media/facebook.png"></a></li>
    <li><a href="#"><img src="/images/social-media/github.png"></a></li>
  </ul>

<p>
  In Mike's spare time he writes and plays music (Guitar, Electronic), builds servers, writes scripts, drives fast cars, fixes things himself, cooks food, watches movies on his wall, shoots photos, shoots films, shoots guns, participates in film festivals, and buys things until he goes broke.
</p>

<br>

<h1>Posts written by Mike</h1>