  <img class="bio-pic" src="/images/bio-pics/nikki-stevens.png">
  <h1>Nikki Stevens</h1>
  <ul class="social-media">
    <li>
      <a href="https://github.com/drnikki"><img src="/images/social-media/github.png"></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/nikkistevens"><img src="/images/social-media/linkedin.png"></a>
    </li>
    <li>
      <a href="https://twitter.com/drnikki"><img src="/images/social-media/twitter.png"></a>
    </li>
    <li>
      <a href="https://instagram.com/drnikki"><img src="/images/social-media/instagram.png"></a>
    </li>
  </ul>
<p>
Nikki Stevens put up her first Geocities site in 1997 and hasn't stopped making websites since. She abandoned the illusion that she would be a full-stack developer and has been a backend engineer since 1998.</p>
<p>
She's led projects for big brands like Major League Soccer, Coca Cola, Sony, Instagram and she's worked on teams building projects for Red Hat, Memorial Sloan Kettering, Dove, Slow Food USA, and LinkedIn.
</p>
<p>
In addition to coding, she frequently speaks on panels about technology, diversity, and women in technology.
</p>
<p>
When she's not engineering, she's probably taking her dog to the park, hitting things in Krav Maga or bouldering.
</p>
<p>
(boring stuff)
Nikki has a BSBA in Management Information Systems from University of Nevada, Las Vegas, an M.Ed. in Educational Foundations and a Graduate Certificate in Gender Studies from the University of Hawai`i at Mānoa.
</p>
<br>

<h1>Posts written by Nikki</h1>