  <img class="bio-pic" src="/images/bio-pics/teresa-nededog.jpg">
  <h1>Teresa Nededog</h1>
  <ul class="social-media">
    <li><a href="#"><img src="/images/social-media/github.png"></a></li>
    <li><a href="#"><img src="/images/social-media/linkedin.png"></a></li>
    <li><a href="#"><img src="/images/social-media/twitter.png"></a></li>
    <li><a href="#"><img src="/images/social-media/instagram.png"></a></li>
    <li><a href="#"><img src="/images/social-media/facebook.png"></a></li>
  </ul>
<p>
Techie who wears lipgloss and will dominate you in Tekken. I love cooking, mechanical keyboards, bartending and laughing to tears. Great company will make any outing the best outing and I'm kind of a pro. ;) I'm really good at packing food and condiments to go and my favorite books are MacBooks! 

I KNOW I've been created to enjoy all of God's wonders and my only struggle has been to stay still!
</p>

<br>

<h1>Posts written by Teresa</h1>