---
layout: default
title: Tags
use:
    - posts_tags
---
<h2>Tags</h2>

<div>
{% for tag,posts in data.posts_tags %}

<!-- conditions to hide author tag names on the tags page --> 
  {% if tag == "nikki-stevens" %} 
    <a class="hide" href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a> 
  {% elseif tag == "mike-klass" %}
     <a class="hide" href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a> 
  {% elseif tag == "jason-savino" %}
     <a class="hide" href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>
 
  {% else %} 
  <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>
  {% endif %}
{% endfor %}
</div>
