---
title: Jason Stevens
use:
    - posts

generator: [posts_tag_index, pagination]
pagination:
    provider: page.tag_posts
---
{% extends "default" %}
{% block meta %}
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/blog/tags/jason-savino.xml"/>
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block content %}
  <header>
    <h1>{{ page.tag }}</h1>
    <p>
      <h4>Jason: Same as above?</h4>  ipsum dolor sit amet, consectetur adipisicing elit. Cum totam, dolore quia voluptatum consequatur magni in corrupti porro impedit consequuntur nesciunt, ipsam, mollitia inventore labore iusto explicabo debitis expedita. Obcaecati..
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, omnis iste cum commodi sed debitis, accusantium eum quas asperiores reiciendis fuga id, et at voluptate vel exercitationem esse, architecto? Atque?.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, ut quae, voluptatem nihil, commodi minima molestias consequatur adipisci optio quia fuga voluptatum esse rerum vel perferendis natus consequuntur a accusantium!
    </p>
  </header>

    <br>
  <h1>{{ page.tag }}'s articles</h1>

  {% include 'partials/articles.html' %}

{% endblock %}