---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
---
{% for post in page.pagination.items %}
    <article>
        <header>
          <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
          <p>by:
          {% for name in post.name %}
            <b><a href="{{ site.url }}/authors/{{ post.author[loop.index0] }}">{{ name }}</a></b>{% if not loop.last %}, {% endif %}
          {% endfor %}
          </p>
        </header>
        <p>
          {% for snippet in post.meta.snippet %}
        <b>{{ snippet }}</b>
          {% endfor %}
        </p>
        {% if post.meta.tags %}
            <p class="tags">
            Tags:
            {% for tag in post.meta.tags %}
              {% include 'partials/tags.html' %}
            {% endfor %}
            </p>
        {% endif %}
    </article>
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>{% endif %}<br />
        {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>{% endif %}<br />
    </nav>
{% endif %}